@charset "utf-8";

.l-header {
  height: 100px;
  width: 100%;
  display: flex;
}
.p-hamburgermenu {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  &__line {
    background-color: black;
    height: 4px;
    width: 100%;
    position: absolute;
    transition: all 0.3s;
  }
}

.p-hamburgermenu__line:nth-of-type(1) {
  top: 0;
}
.p-hamburgermenu__line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.p-hamburgermenu__text {
  bottom: 0;
  font-size: 10px;
}

.p-topicon {
  margin: auto;
  font-size: 8px;
  color: black;
  text-align: center;
}
.c-dogimg {
  height: 70px;
  width: auto;
}
.c-mail {
  height: 50px;
  width: auto;
}
.c-hero {
  height: auto;
  width: 100%;
}
.l-footer {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: grey;
}
.c-sitename {
  font-size: 14px;
  color: white;
  margin: auto;
}
.c-arrowTop {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(45deg);
}
