@charset "utf-8";

.l-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
}
.p-hamburgermenu {
  height: 50px;
  width: 50px;
  position: relative;
  margin-left: 70px;
  cursor: pointer;
}
.p-hamburgermenu__line {
  height: 1px;
  width: 100%;
  background-color: #000;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.p-hamburgermenu__text {
  font-size: 7px;
}

.p-hamburgermenu__line:nth-of-type(1) {
  top: 0;
}
.p-hamburgermenu__line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.p-hamburgermenu__text {
  bottom: 0;
  font-size: 10px;
}

.p-topicon {
  margin: auto;
  font-size: 10px;
  color: black;
  text-align: center;
}
.p-topicon__img {
  height: 65px;
  width: auto;
}
.p-mail {
  margin-right: 70px;
}
.p-mail__icon {
  height: 25px;
  width: auto;
}
.p-mail__text {
  font-size: 9px;
}
.c-hero {
  height: auto;
  width: 100%;
}
.p-title {
  height: 300px;
  background-color: #fbfbfb;
  text-align: center;
}
.l-footer {
  height: 80px;
  width: 100%;
  display: flex;
  background-color: #525252;
}
.c-sitename {
  font-size: 14px;
  color: white;
  margin: auto;
}
.c-arrowTop {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform: rotate(45deg);
}
